/*-----------------
    Whole Program 
 ------------------*/


/*-----------------
    header
 ------------------*/

h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


h3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.label {
    margin: auto;
    width: 90%;
}


/*-----------------
   cart section
 ------------------*/
.con_shop {
    width: 40%;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 54px;
    background: #383838;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    text-decoration: none;


}

.con_shop:hover {
    background-color: #000000 ;

}

.cart .fa:hover {
    background: #000000;
}


.notEmpty {
    width: 100%;
    padding: 20px 5vw;
    display: flex;
    justify-content: space-between;

}


.cart-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shopping-cart {
    width: 70%;
    max-height: 1200px;
    overflow: auto;
}

.text-center {
    width: 28%;
}

.noProduct {
    width: 70%;
}

.ZeroCheckout {
    width: 28%;
}

.section-heading {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
    text-transform: capitalize;

}

.cart {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    margin-bottom: 60px;
}



.sm-product {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;

}

.cart .sm-product:last-child {
    margin-bottom: 0;
}

.sm-product-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.sm-text {
    margin-left: 20px;
    width: 40%;
}

.sm-product-name {
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}



.sm-product-price {
    font-size: 20px;
    margin-top: 5px;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 10px;
}

.buttons {
    width: 90px;
    height: 30px;
    display: flex;
    text-align: center;
}

.buttons .bi:hover {
    background-color: #cdc7c7;
}

.quantity,
.bi {
    width: 30px;
    height: 30px;
    text-align: center;
}


.bi {
    background: #f3f3f3;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 1px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quantity {
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
}

.sm-total-price {
    font-size: 40px;
    font-weight: 400;
    color: #383838;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-top: 24px;
}

.sm-delete-btn {
    position: absolute;
    top: -4px;
    left: -20px;
    width: 8px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid rgb(216, 216, 216);
    z-index: 2;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: none;
    color: black;



}

/* display: block;
width: 100%;
border: none;
outline: none;
cursor: pointer;
height: 40px;
font-size: 20px;
border-radius: 5px;
background: #383838;
color: #fff;
text-align: center;
line-height: 40px;
text-transform: capitalize;
text-decoration: none; */

.sm-delete-btn .fa-times {
    font-size: 15px;

}


.sm-delete-btn .fa:hover {
    background-color:unset;
    color: red;
}

.sm-delete-btn:hover {
    background-color: #ffffff;
}

.goShop .fa:hover {
    background: none;
}



/*-----------------
   checkout srction
 ------------------*/
.checkout-box {
    width: 100%;
    height: 200px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    padding: 20px;

}


.text {
    text-transform: capitalize;
    font-size: 18px;
}

.checkout-btn:hover {
    background-color: black;

}

.checkout-btn {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    background: #383838;
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    text-decoration: none;

}

/*-----------------
   clear cart
 ------------------*/

.ttl-clear {
    display: flex;
    justify-content: space-between;
}

.clearCart {
    color: rgb(255, 110, 53);
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 17px;

}


.clearCart:hover {
    color: rgb(249, 11, 7);
}


/*-----------------
    back to product page
 ------------------*/

.goShop {
    color: rgb(66, 78, 244);
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.goShop:hover {
    padding-left: 5px;
}

.bill {
    font-size: 60px;
    font-weight: 500;
    margin: 10px;
}

button {
	border: none;
	background: none;
	font: inherit;
	cursor: pointer;
	box-shadow: none;
}



.footer-col button
{
    /* color: #9f8d84; */
    color: white;
    padding: 7px 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 5px 0px 0px 20px;
    cursor: pointer;
    /* background-color: rgb(237, 221, 203);*/
    background-color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px grey;
    /* box-shadow: 0 7px #999; */
}

.footer-col button:hover
{
    /* background-color: rgb(240, 211, 160); */
    background-color: rgba(168, 148, 148, 0.578);
}

.footer-col button:active
{
    /* background-color: rgb(239, 201, 136); */
    background-color: rgba(168, 148, 148, 0.578);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*-----------------
    Responsive web design
 ------------------*/

@media screen and (max-width:1200px) {
    .con_shop {
        width: 60%;
        font-size: 12px;
    }
}


@media screen and (max-width:1000px) {
    .notEmpty {
        width: 100%;
        padding: 20px 10vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .shopping-cart {
        width: 100%;
    }

    .text-center {
        width: 100%;
        text-align: center;
    }



}

@media screen and (max-width:800px) {

    .cart-section {
        width: 100%;
        padding: 20px 10vw;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .noProduct {
        width: 100%;
    }

    .ZeroCheckout {
        width: 100%;
        text-align: center;
    }

    .notEmpty {
        padding: 0px;
    }

}

@media screen and (max-width:650px) {
    .con_shop {
        width: 80%;
        font-size: 12px;
    }

    .sm-product {
        width: 100%;
        flex-direction: column;
        height: 100%;
    }


    .cart img {
        width: 80%;
    }

    .sm-product-img {
        height: 100%;
    }

    .buttons {
        width: 45%;
        display: flex;
        align-items: center;
        margin: auto;
        height: 10px;
        justify-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .sm-delete-btn {
        width: 40px;
        height: 40px;

    }

    .sm-text {
        text-align: center;
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto;
    }


    .sm-product-name {
        padding-top: 8px;
    }


    .quantity,
    .bi {
        width: 90%;
        height: 25px;
        text-align: center;
        display: flex;
        padding-left: 8px;
        margin-bottom: 13px;
        justify-content: center;

    }

    .quantity {
        line-height: 28px;
    }

    .sm-total-price {
        text-align: center;
        font-size: 70px;
        padding-bottom: 15px;
        padding-top: 6px;
    }


    .sm-delete-btn {
        color: #fff;
        background: #383838;
        border: 1px solid #383838;
        ;

    }


    .sm-delete-btn:hover {
        color: #ff0000;
        background: #ffffff;
        border: 2.px solid #383838;

    }

    .bi {
        padding-top: 3px;
        padding-bottom: 5px;
    }

}