@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    outline: none;
    color: #fff
} */
section{
    position: absolute;
    height: 100%;
    width: 100%;
    background: url('Pictures/candlepic7.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(60%);
}
.formbody{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* margin: 0;
    padding: 0; */
    font-family: 'Poppins',sans-serif;
    /* box-sizing: border-box;
    outline: none; */
}
.container {
    width:360px;
    background: #000;
    box-shadow: 0 0 8px rgba(250,250,250,0.6);
    opacity: 0.6;
}
.container form{
    width: 100%;
    text-align: center;
    padding: 25px 20px;
}
form h1{
    padding: 10px 0;
}
form .id{
    position: relative;
}
.id i{
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
form input{
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: white;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
}
form textarea{
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    width: 100%;
    font-size: 20px;
    margin: 4px 0;
}
form button{
    margin-top: 5px;
    border: none;
    background: #dddbcb;
    color: #222;
    padding: 10px 0;
    width: 50%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}
form input:focus,
form textarea:focus{
    border: 1px solid #dddbcb;
    color: #dddbcb;
    transition: all 0.3% ease;
}
form input:focus::placeholder,
form textarea:focus::placeholder{
    padding-left: 4px;
    color: #dddbcb;
    transition: all 0.3% ease;
}
form input:focus + i{
    color: #dddbcb;
    transition: all 0.3% ease;
}
  .center .stars{
    height:50px;
    width: 250px;
    text-align: center;
  }
  .stars input{
    display: none;
  }
  .stars label{
    float: right;
    font-size: 30px;
    color: lightgrey;
    margin: 0 5px;
    text-shadow: 1px 1px #bbb;
  }
  .stars label:before{
    content: '★';
  }
  .stars input:checked ~ label{
    color: gold;
    text-shadow: 1px 1px #c60;
  }
  .stars:not(:checked) > label:hover,
  .stars:not(:checked) > label:hover ~ label{
    color: gold;
  }
  .stars input:checked > label:hover,
  .stars input:checked > label:hover ~ label{
    color: gold;
    text-shadow: 1px 1px goldenrod;
  }
  .stars .result:before{
    position: absolute;
    content: "";
    width: 100%;
    left: 50%;
    transform: translateX(-47%);
    bottom: -30px;
    font-size: 30px;
    font-weight: 500;
    color: gold;
    font-family: 'Poppins', sans-serif;
    display: none;
  }
  .stars input:checked ~ .result:before{
    display: block;
  }